<%= @user.name %>

<p>Score for Strategy section: <%= @score1 %> out of <%= @section1_total %>.</p>
<p>Score for Performance section: <%= @score2 %> out of <%= @section2_total %>.</p>
<p>Your total score for the test: <%= @score %> out of <%= @total %>.</p>
